#head-section{
    text-align: center;
    padding-top: 200px;
}

#head-section h1{
    font-size: 65px;
}

.list{
    display: flex;
    list-style: none;
    padding: 0px 10px 0px;
}

.navbar{
    display: flex;
}